    body{
            height:100vh;
            background-image: linear-gradient(rgba(128, 0, 128, 0.486),rgba(255, 166, 0, 0.712));
        }
        .form{
          
            /* height:500px; */
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
       
        .form > input{
            padding:20px 50px;
            margin:20px;
            border: none;
            border-bottom: 2px solid black;
            outline:none;
            font-size: 20px;
            background: transparent;
            text-align: center;
            
        }
        input:placeholder-shown{
            font-size: 20px;
            
        }
        button{
            font-size: larger;
            padding:15px;
            margin:10px;
            border-radius: 0px 15px;
            background-color: bisque;
        }
        #title,input,button{
            font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;";
        }
        i{
            font-size: 50px;
        }
        #title,input{
            color:purple;
        }
        ::placeholder{
            text-align: center;
            
        }
